In [84]:
import pandas as pd
import sqlalchemy as sal

engine = sal.create_engine(
    'mssql+pyodbc://'
    '@./Entain?' 
    'driver=ODBC+Driver+17+for+SQL+Server'
    )
df = pd.read_sql_query("SELECT * FROM [Entain].[dbo].[session_aggregation_task_python]",engine)

df

      player_id  Session_Length  Session_Margin
0       2257174            5065        0.091803
1       8044502            9443        0.127230
2      21364096              11        0.449765
3     160318098            9750        0.063731
4     185281129            9925        0.134167
...         ...             ...             ...
2368  559902114             244        0.144865
2369  559906318             554        0.292021
2370  559910617             337       -0.004728
2371  559910863             133        0.114085
2372  559915399              15       -0.159125

[2373 rows x 3 columns]

In [85]:
import math

increment = 10
lists = list(range(0,df.Session_Length.max()+increment,increment))
lists[0] = -1
df.Session_Margin.groupby(pd.cut(df.Session_Length, lists)).mean()

##for n in lists:
##  print(n)

Session_Length
(-1, 10]          0.707666
(10, 20]          0.394561
(20, 30]          0.348493
(30, 40]         -1.155641
(40, 50]          0.327962
                    ...
(10030, 10040]   -0.046913
(10040, 10050]    0.032851
(10050, 10060]   -0.013243
(10060, 10070]    0.038050
(10070, 10080]    0.034788
Name: Session_Margin, Length: 1008, dtype: float64

In [86]:

labels = ['{}-{}'.format(i + 1, j) for i, j in zip(lists[:-1], lists[1:])]
##print (labels)
df2 = df.Session_Margin.groupby(pd.cut(df.Session_Length, lists,labels =labels)).mean()
df2.to_csv('Entain_session_aggregation_task.csv')